.header {
 padding: rem(10px) rem(20px);

 display: flex;
 justify-content: center;
 max-width: rem(375px);
 width: 100%;
 align-self: center;
 position: sticky;
 top: 0;
 background: rgba(28, 28, 28, 1);
 z-index: 20;
 &__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  position: relative;
 }
 &__center {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 &__center-title {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: rem(15px);
  line-height: rem(18.29px);
  text-align: center;
 }
 &__center-subtitle {
  font-weight: 500;
  font-size: rem(10px);
  line-height: rem(12.19px);
  color: rgba(134, 144, 139, 1);
 }
 &__col {
  display: flex;
  font-weight: 400;
  font-size: rem(12px);
  line-height: rem(14.63px);
  cursor: pointer;
 }
 &__col.back {
  align-items: center;
  column-gap: rem(8px);
  &::before {
   content: '';
   background: url('../../assets/icons/dashboard/back-icon.svg');
   display: block;
   width: rem(5px);
   height: rem(10px);
   background-size: 100% 100%;
  }
 }
 &__burger-icon {
  width: rem(16px);
  height: rem(16px);
  cursor: pointer;
 }

 &__burger-col {
  display: flex;
  justify-content: flex-end;
  position: relative;
 }
 &__burger-col.active &__options {
  visibility: visible;
  opacity: 1;
 }
 &__options {
  position: absolute;
  right: rem(1px);
  background: rgba(44, 44, 46, 1);
  border-radius: rem(10px);
  top: 140%;
  padding: rem(13px);
  max-width: rem(200px);
  width: rem(200px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 3;
 }
 &__options-item {
  display: flex;
  justify-content: space-between;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(17.07px);
  cursor: pointer;
 }
 &__options-item-icon {
  width: rem(15px);
 }
 &__options-item:not(:nth-last-child(1)) {
  padding-bottom: 7px;
  position: relative;
  &::after {
   content: '';
   width: 115%;
   height: 1px;
   background: rgba(64, 64, 64, 1);
   position: absolute;
   bottom: -25%;
   left: -7%;
  }
 }
 &__options-items {
  display: flex;
  flex-direction: column;
  row-gap: rem(22px);
 }
 &__menu {
  position: fixed;
  top: rem(40px);
  background: rgba(28, 28, 28, 1);
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  z-index: 2;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100%);
  transition: 0.3s;
  padding-top: rem(15px);
 }
 &__menu.active {
  transform: translateX(0);
  transition: 0.3s;
 }
 &__menu-wrapper {
  width: rem(350px);
  display: flex;
  flex-direction: column;
  row-gap: rem(25px);
 }
 &__burger-col active &__menu-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: rem(25px);
  width: rem(350px);
 }
 &__menu-item {
  background: rgba(44, 44, 46, 1);
  border-radius: 15px;
  padding: rem(12.5px) rem(20px);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 &__language-value {
  font-weight: 500;
  font-size: rem(18px);
  line-height: rem(21.94px);
  color: rgba(133, 133, 135, 1);
 }
 &__menu-item-icon {
  width: rem(25px);
  height: rem(25px);
 }
 &__menu-item-info {
  display: flex;
  column-gap: rem(15px);
  align-items: center;
  font-size: rem(18px);
  font-weight: 500;
  line-height: rem(21.94px);
 }
 &__menu-bottom {
  display: flex;
  flex-direction: column;
  row-gap: rem(10px);
  background: rgba(44, 44, 46, 1);
  border-radius: rem(15px);
  padding: rem(11.5px) rem(20px);
 }
 &__menu-bottom-item-info {
  display: flex;
  column-gap: rem(15px);
  align-items: center;
  font-size: rem(18px);
  font-weight: 500;
  line-height: rem(21.94px);
 }
 &__menu-bottom-item-icon {
  width: rem(25px);
 }
 &__menu-bottom-item {
  cursor: pointer;
 }
 &__menu-bottom-item:not(:nth-last-child(1)) {
  padding-bottom: rem(10px);
  border-bottom: 1px solid rgba(64, 64, 64, 1);
 }
 &__languages {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(28, 28, 28, 1);
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: rem(15px);
 }
 &__languages.active {
  transform: translateX(0);
  transition: 0.3s;
 }
 &__languages-items {
  background: rgba(44, 44, 46, 1);
  border-radius: rem(15px);
  padding: rem(9.5px) rem(20px);
  display: flex;
  flex-direction: column;
  width: rem(350px);
 }
 &__language-item:not(:nth-last-child(1)) {
  padding-bottom: rem(10px);
  margin-bottom: rem(10px);
  border-bottom: 1px solid rgba(64, 64, 64, 1);
 }
 &__language-item {
  cursor: pointer;
 }
 &__language-item.active {
  position: relative;
  &::after {
   background: url('data:image/svg+xml,<svg width="17" height="13" viewBox="0 0 17 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 6.5L6 11.5L16 1.5" stroke="%235F976E" stroke-width="2" stroke-linecap="round"/></svg>')
    no-repeat;
   width: rem(20px);

   height: rem(20px);
   position: absolute;
   top: 25%;
   right: 0;
   content: '';
  }
 }
 &__language-item-title {
  font-weight: 500;
  font-size: rem(15px);
  line-height: rem(18.29px);
 }
 &__language-item-subtitle {
  font-weight: 500;
  font-size: rem(13px);
  line-height: rem(15.85px);
 }
}

.header.header-home {
 max-width: rem(420px);
 align-self: center;
 padding: 10px 15px;
 &__languages-items {
  background: rgba(44, 44, 46, 1);
  border-radius: 15px;
  padding: 9.5px 20px;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  width: 100%;
 }
 &__burger-col active &__menu-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  max-width: 420px;
  width: 100%;
 }
 .header__menu-wrapper {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
 }
 .header__languages-items {
  max-width: 420px;
  width: 100%;
 }
}
