/* Box sizing rules */
@import './functions';
@import './varibles';
@import './mixins/mixin';

/* Set core body defaults */
body {
 min-height: 100vh;
 line-height: 1.5;
 font-family: $font-main;
 background: #1c1c1c;
 color: white;
 display: flex;
 flex-direction: column;
}

html {
 -moz-text-size-adjust: none;
 -webkit-text-size-adjust: none;
 -ms-text-size-adjust: none;
 text-size-adjust: none;
 scroll-behavior: smooth;
 @media only screen and (min-width: 0px) {
  font-size: ($base-font-size / $design-mobile-width) * 100vw;
 }

 @include ifdesktop {
  font-size: ($base-font-size / $design-desktop-width) * 100vw;
 }
}
