/* Box sizing rules */
@import './functions';
@import './varibles';
@import './mixins/mixin';

/* Set core body defaults */
body {
 min-height: 100vh;
 line-height: 1.5;
 font-family: $font-main;
 background: #1c1c1c;
 color: white;
 display: flex;
 flex-direction: column;
}
